<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>CLIENT_ID</key>
	<string>262788818904-m5stp3ouvp4cd1157eo8bfcqfltk7k9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262788818904-m5stp3ouvp4cd1157eo8bfcqfltk7k9e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>262788818904-44idn9m8de1k3sho09usc9c2ap8vg6d7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsQ3X6OH8oLiNRIVwt5j5SAenmjecuDQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>262788818904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.creativemotion.BeatactRevived</string>
	<key>PROJECT_ID</key>
	<string>beatact-287421</string>
	<key>STORAGE_BUCKET</key>
	<string>beatact-287421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:262788818904:ios:e5e4d5e78d972583fa74ad</string>
	<key>DATABASE_URL</key>
	<string>https://beatact-287421.firebaseio.com</string>
</dict>
</plist>
